:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --background-color: #f9f7fe;
  --title-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: bold;
}

p {
  font-family: var(--text-font);
  font-weight: lighter;
  line-height: 1.5;
}
button,
a {
  font-family: "Poppins", sans-serif;
}

.homepage-h2 {
  font-size: 58px;
  padding-top: 100px;
}
@media (max-width: 900px) {
  h2.homepage-h2 {
    font-size: 30px;
  }
  h1.homepage-h1 {
    font-size: 45px;
  }
  h3.homepage-h3 {
    font-size: 15px;
  }
  .homepage-app-title {
    text-align: center;
  }
  .homepage-app-p {
    text-align: center;
  }
  .default-button {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}
.project-description {
  padding: 40px 50px;
}

.homepage-h1 {
  font-size: 86px;
}

.homepage-h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-top: 15px;
}

.links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-button {
  border: 1px solid var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.default-button {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

#homepage-projects {
  margin-top: 50px;
  margin-bottom: 100px;
}
.homepage-app-title {
  font-size: 45px;
}

.homepage-app-p {
  font-size: 20px;
  margin-top: 10px;
}

#row-app {
  margin-top: 80px;
}

#navigation {
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Poppins", sans-serif;
}
/*ABOUT.HTML*/

.content-container {
  padding-top: 50px;
  padding-bottom: 100px;
}
.content {
  margin: auto;
}

.profile-pic {
  display: block;
  margin: 100px auto;
}

.default-h1 {
  font-size: 66px;

  padding-top: 80px;
}
.default-h3 {
  font-size: 24px;
  font-weight: bolder;
}
.default-p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 35px;
}

@media (max-width: 900px) {
  .default-h1 {
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
  }
  .default-h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  .default-p {
    text-align: center;
    font-size: 16px;
    padding: 0px 10px;
  }

  #contact-me {
    font-size: 20px;
  }
}

.homepage-link {
  text-align: center;
}

#contact-me {
  font-size: 48px;
  text-align: center;
  display: block;
  margin-top: 30px;
}

/*CONTACT*/

#contact-link {
  color: #f495bf;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}
#contact-link:hover {
  color: #ee3f86;
  font-weight: bold;
}
